/* 
dark brown: #3A2817 
yellow: #EDA23F
beige bg: #ECE9D5
red: #C33527
*/


* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #ECE9D5;
  overflow-x: hidden;
}

a {
  font-family: 'Comfortaa', sans-serif;
  letter-spacing: 1px;
}
h1 {
  font-family: 'Titan One', sans-serif;
  font-size: 56px;
  letter-spacing: 1px;
  color:#3A2817;
  }
  
  h3 {
  font-family: 'Titan One', sans-serif;
  font-size: 38px;
  letter-spacing: 1px;
  color:#3A2817;
  }
  
  h5 {
  font-family: 'Comfortaa', sans-serif;
  font-size: 22px;
  letter-spacing: 1px;
  }
  
  h6 {
  font-family: 'Comfortaa', sans-serif;
  letter-spacing: 1px;
  font-size: 18px;
  }
  
  p {
  font-family: 'Comfortaa', sans-serif;
  letter-spacing: 1px;
  font-size: 14px;
  }
.page-10-percent {
    padding: 56px 10% 120px;
}
.page-20-percent {
  padding: 56px 20% 120px;
}
.shop-title {
  text-align: center;
}
.shop-review-line img {
  height: 12px;
}

.tab {
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width:960px) {
  .tab {
    display: inline-block;
    text-align: center;
  }
}
@media only screen and (max-width:720px) {
  .tab {
    display: inline-block;
    text-align: center;
  }
}

   
.tab button {
    cursor: pointer;
    padding: 8px 15px;
    margin-top: 20px;
    font-family: 'Titan One', sans-serif;
    font-size: 22px;
    color: #3A2817;
    border: 2px solid #3A2817;
    box-shadow: 2px 2px 1px #B0824D;
    background-color: #ECE9D5;
    border-radius: 12px;
}
  
.tab button:hover {
    background-color: #EDA23F;
    box-shadow: 2px 2px 1px #3A2817;
}
  
.tab button.active {
    color: #EDA23F;
    background-color: #3A2817;
}
.tabcontent {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    height: 300px;
    padding-top: 60px;
}
@media only screen and (max-width:960px) {
  .tabcontent {
    display: grid;
    grid-template-columns: 33% 33% 33%;
  }
}
@media only screen and (max-width:720px) {
  .tabcontent {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}

.shop-content a{
    text-decoration: none;
    color: #3A2817;
    text-align: center;
}
.shop-product-img {
    height: 250px;
    padding-bottom: 15px;
}
.shop-content h4 {
    padding-bottom: 5px;
}
.shop-review-line img {
    padding-bottom: 0;
    height: 20px;
    padding-right: 20px;
}
.shop-review-line {
    padding-bottom: 10px;
}

/* @supports (display: flex) {
  @media screen and (min-width:900px) {
    body {
      padding: 1rem 3rem;
    }
  }
} */


/* individual products */
#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  z-index: 2;
  cursor: pointer;
  /* padding-top: 150px; */
  text-align: center;
}
#current-img {
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* .product-info {
  
  min-height: 700px;
} */
.product-info-content {
  display: grid;
  /* grid-template-columns: 35% 10% 55%; */
  grid-template-columns: 45% 55%;
  padding-top: 40px;
}

.product-info-img img {
  /* width: 100%; */
  width: 78%;
}
@media only screen and (max-width:720px) {
  .product-info-content {
    display: block;
  }
  .product-info-img {
    text-align: center;
  }
}

.product-info-text {
  padding: 30px 0;
}
.product-info-text h3 {
  padding-bottom: 20px;
}
.product-name-desc {
  padding-bottom: 20px;
}
.product-size-padding {
  padding-right: 20%;
}
@media only screen and (max-width:720px) {
  .product-size-padding {
    padding-right: 0;
  }
}
.product-size-grid {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}
.product-size-contents button {
  width: 90%;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 1px solid #CF5B26;
  background-color: inherit;
  color:#CF5B26;
  padding: 5px 0;
}

.product-size-contents, .prod-cart-contents {
  text-align: center;
}
.orange-text {
  color: #CF5B26;
}
.prod-size {
  padding-top: 10px;
}
.product-add-cart-padding {
  padding-right: 20%;
  margin-top: 50px;
}
@media only screen and (max-width:720px) {
  .product-add-cart-padding  {
    padding-right: 0;
  }
}
.product-add-cart-grid {
  display: grid;
  grid-template-columns: 55% 15% 15% 15%;
}
.prod-add-cart-button button{
  width: 90%;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 1px solid #CF5B26;
  background-color: #CF5B26;
  color:#ECE9D5;
  padding: 8px 0;
  /* padding: 10px 32px; */
  font-size: 18px;
}
.prod-cart-qty-button button {
  border-radius: 50%;
  border: 1px solid #CF5B26;
  color: #CF5B26;
  background-color: inherit;
  padding: 3px 10px;
  font-size: 18px;
}
.product-size-contents button:hover {
  background-color: #CF5B26;
  color:#ECE9D5;

}

.prod-cart-qty p {
  color: #CF5B26;
  font-size: 15px;
  padding-top: 5px;

}

.flavour-spices {
  background-color: #EDA23F;
}
.suggested-scroll {
  text-align: center;
}
.suggested-scroll h3{
  padding-bottom: 56px;
}

.flavours {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 5rem;
  text-align: center;
  .col {
    flex: 0 0 auto;
  }
}

/*for Chrome, Safari, Opera*/
.flavours::-webkit-scrollbar { width: 0 !important }

/*for IE*/
.element { -ms-overflow-style: none; }

/*for Mozilla*/
.element { overflow: -moz-scrollbars-none; }

.flavours-desc {
  text-align: center;
}

.col-md-2 img {
  width: 85%;
  padding-bottom: 30px;
}

@media only screen and (max-width:720px) {
  .flavours {
    gap: 2rem;
  }
  .col-md-2 img {
    width: 70%;
    padding-bottom: 30px;
  }
}