/* 
dark brown: #3A2817 
yellow: #EDA23F
beige bg: #ECE9D5
red: #C33527
*/

* {
    padding: 0;
    margin: 0;
}
body {
    background-color: #ECE9D5;
    overflow-x: hidden;
}
a {
    font-family: 'Comfortaa', sans-serif;
    letter-spacing: 1px;
}
p {
    font-family: 'Comfortaa', sans-serif;
    letter-spacing: 1px;
    font-size: 15px;
}
h4 {
    font-family: 'Comfortaa', sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
}
.page-10-percent {
    padding: 20px 10%;
}

.tab {
    display: flex;
    justify-content: space-between;
  }
   
  .tab button {
    cursor: pointer;
    padding: 8px 15px;
    margin-top: 20px;
    font-family: 'Titan One';
    font-size: 20px;
    color: #3A2817;
    border: 2px solid #3A2817;
    box-shadow: 2px 2px 1px #B0824D;
    background-color: #ECE9D5;
    border-radius: 12px;
  }
  
  .tab button:hover {
    background-color: #EDA23F;
    box-shadow: 2px 2px 1px #3A2817;
  }
  
  .tab button.active {
    color: #EDA23F;
    background-color: #3A2817;
  }
  .tabcontent {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    height: 300px;
    padding-top: 60px;
  }

  .shop-content a{
    text-decoration: none;
    color: #3A2817;
    text-align: center;
  }
  .shop-product-img {
    height: 250px;
    padding-bottom: 15px;
  }
  .shop-content h4 {
    padding-bottom: 5px;
  }
  .shop-review-line img {
    padding-bottom: 0;
  }
  .shop-review-line {
    padding-bottom: 60px;
  }