body {
    background-color: #ECE9D5;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/*standardised*/
.page-10-percent {
    padding: 56px 10% 120px;
}

.page-20-percent {
    padding: 56px 20% 120px;
}

.page-20-percent .main-container {
    padding-bottom: 0;
}

h1 {
    font-family: 'Titan One', sans-serif;
    font-size: 56px;
    letter-spacing: 1px;
    color: #3A2817;
}

h3 {
    font-family: 'Titan One', sans-serif;
    font-size: 38px;
    letter-spacing: 1px;
    color: #3A2817;
}

h5 {
    font-family: 'Comfortaa', sans-serif;
    font-size: 22px;
    letter-spacing: 1px;
}

h6 {
    font-family: 'Comfortaa', sans-serif;
    letter-spacing: 1px;
    font-size: 18px;
}

p {
    font-family: 'Comfortaa', sans-serif;
    letter-spacing: 1px;
    font-size: 14px;
}

/*end standardised*/

/*others*/
.light-brown-font {
    color: #B0824D;
}

.page-20-percent h1 {
    text-align: center;
}

.page-10-percent h1 {
    text-align: center;
}

.actionbutton {
    padding: 12px 16px;
    font-family: 'Comfortaa', sans-serif;
    font-weight: 400;
    background-color: #CF5B26;
    color: #ECE9D5;
    border-radius: 8px;
    border: none;
}

.bannerclass h1 {
    padding-bottom: 56px;
}

/*end others*/

/*faq tab*/
.tab {
    display: flex;
    justify-content: space-between;
}

.tab button {
    cursor: pointer;
    padding: 8px 15px;
    margin-top: 20px;
    font-family: 'Titan One';
    font-size: 22px;
    color: #3A2817;
    border: 2px solid #3A2817;
    box-shadow: 2px 2px 1px #B0824D;
    background-color: #ECE9D5;
    border-radius: 12px;
}

.tab button:hover {
    background-color: #EDA23F;
    box-shadow: 2px 2px 1px #3A2817;
}

.tab button.active {
    color: #EDA23F;
    background-color: #3A2817;
}

.tabcontent {
    display: block;
    height: 300px;
    padding-top: 60px;
}

/*end faq tab*/

/*questions*/
.accordion {
    cursor: pointer;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    padding-bottom: 60px;
}

.accordion .accordion-item {
    padding: 42px 0;
    position: relative;
    background-color: transparent;
}

.accordion .accordion-item:after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: #3A2817;
}

/* .accordion-button:not(.collapsed) {
    border: none;
    border-color: transparent;
    background-color: transparent;
} */

.accordion-button:link,
.accordion-button:visited,
.accordion-button:hover,
.accordion-button:active,
.accordion-button:focus {
    background-color: transparent;
    text-decoration: none;
    border: none;
    border-color: transparent;
    box-shadow: none;
}

.accordion .accordion-button {
    color: #3A2817;
    padding: 20px 48px 0 0;
    ;
    background-color: transparent;
}

.accordion-button::after {
    display: none;
}

.accordion-button.collapsed::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' height='36' viewBox='0 0 24 24' width='36' stroke='%233A2817'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M19 9l-7 7-7-7'/%3E%3C/svg%3E");
    position: absolute;
    right: 5px;
}

.accordion-button:not(.collapsed)::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' height='36' viewBox='0 0 24 24' width='36' stroke='%233A2817'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 15l7-7 7 7'/%3E%3C/svg%3E");
    position: absolute;
    right: 5px;
}

.accordion .accordion-body {
    color: #3A2817;
    padding: 20px 48px 0 0;
    border: none;
}

/*end questions*/

/*additional questions*/
.additionalQn {
    padding-bottom: 60px;
    color: #3A2817;
}

/*end additional questions*/

/*link/refs*/
.contact-link {
    text-decoration: underline;
    color: inherit;
}

.contact-link-no-underline {
    text-decoration: none;
    color: inherit;
}

/*end link/refs*/

/*table*/

.showonlysmall {
    display: none;
}

.table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden;
    color: #3A2817;
    border-radius: 10px;
    border: 2px solid #3A2817;
    overflow-x: auto;
}

.table td {
    background-color: transparent;
    color: #3A2817;
    padding: 15px;
    text-align: left;
    border-top: 2px solid #3A2817;
}

.table th {
    padding: 10px;
    text-align: left;
    background-color: #EDA23F;
}

.table p {
    font-size: 16px;
}

.table .price {
    padding-left: 0;
    padding-right: 0;
}

tr:first-child th:first-child {
    border-top-left-radius: 8px;
}

tr:first-child th:last-child {
    border-top-right-radius: 8px;
}

tr:last-child td:first-child {
    border-bottom-left-radius: 8px;
}

tr:last-child td:last-child {
    border-bottom-right-radius: 8px;
}

/*end table*/

/*cart styles*/
textarea {
    min-height: 150px;
    width: 100%;
    background-color: transparent;
    border-radius: 10px;
    border: 2px solid #3A2817;
    padding: 10px;
}

.cartamt h3 {
    font-family: 'Comfortaa', sans-serif;
    letter-spacing: 1px;
}

.quantity p {
    padding: 0 15px;
}

.table .removemargin {
    margin-bottom: 0;
    font-size: 12px;
}

.checkout-text .actionbutton {
    width: 100%;
    margin-bottom: 10px;
}

/*end cart styles*/

/*account*/
.tabacct {
    display: flex;
    justify-content: space-between;
    padding-top: 42px;
}

.tabacct button {
    cursor: pointer;
    padding: 8px 15px;
    margin-top: 20px;
    font-family: 'Titan One';
    font-size: 20px;
    color: #3A2817;
    background-color: transparent;
    border-radius: 12px;
    border: none;
}

.tabacct button:hover {
    background-color: #EDA23F;
}

.tabacct button.active {
    color: #EDA23F;
    background-color: #3A2817;
    box-shadow: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.tabacctcontent {
    display: block;
    height: 300px;
}

.accountcontainer {
    display: flex;
    align-items: center;
    justify-content: left;
}

.accountcontainer i {
    font-size: 20px;
    margin-right: 10px;
    color: #3A2817;
}

.accountcontainer p {
    margin-bottom: 0;
}

.accountcontainer h3 {
    font-family: 'Comfortaa', sans-serif;
    letter-spacing: 1px;
}

.accountcontainer h6,
.acctrect h6,
.acctrect-left h6 {
    color: #3A2817;
    line-height: 30px;
}

.acctrect-left {
    background-color: #EDA23F;
    width: 100%;
    height: auto;
    padding: 20px;
    border-radius: 8px;
    border-top-left-radius: 0;
}

.acctrect {
    background-color: #EDA23F;
    width: 100%;
    height: auto;
    padding: 20px;
    border-radius: 8px;
}

.acctrect-right {
    background-color: #EDA23F;
    width: 100%;
    height: auto;
    padding: 30px;
    border-radius: 8px;
    border-top-right-radius: 0;
}

.reedemable h6 .unreedemable h6 {
    padding-top: 10px;
}

.acctrect-left .actionbutton,
.acctrect .actionbutton {
    padding: 8px 12px;
    margin-bottom: 10px;
    font-size: 14px;
}

.reedemable .actionbutton {
    padding: 8px 0;
    font-size: 14px;
    width: 100%;
    border: 2px solid #CF5B26;
}

.unreedemable .actionbutton {
    padding: 8px 0px;
    font-size: 14px;
    color: #3A2817;
    border: 2px solid #3A2817;
    background-color: transparent;
    width: 100%;
}

.acctrect-right .row {
    border-bottom: 2px solid #3A2817;
}

.imgacct {
    width: 100%;
    padding: 5px 0;
}

/*end acct*/


@media (max-width: 992px) {

    .col-md-8,
    .col-md-4 {
        width: 100%;
        display: block;
    }
}

@media (max-width: 640px) {
    .table .remove {
        display: none;
    }

    .table .removesmall {
        display: none;
    }

    .showonlysmall {
        display: block !important;
    }
}

@media (max-width: 720px) {

    .page-10-percent {
        padding: 56px 2% 120px;
    }
} 

@media (min-width: 1015px) and (max-width: 1199px) {
    .profile .col-md-3,
    .profile .col-md-9 {
        width: 100%;
    }
    .page-20-percent {
        padding: 56px 15% 120px;
    }
}

@media (min-width: 576px) and (max-width: 1014px) {
    .page-20-percent {
        padding: 56px 10% 120px;
    }
}

@media (max-width: 575px) {
    .page-20-percent {
        padding: 56px 2% 120px;
    }
}