body {
    background-color: #ECE9D5;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/*standardised*/
.page-10-percent {
    padding: 20px 10%;
}

.page-20-percent {
    padding: 20px 20%;
}

h1 {
    font-family: 'Titan One', sans-serif;
    font-size: 56px;
    letter-spacing: 1px;
    color: #3A2817;
}

h3 {
    font-family: 'Titan One', sans-serif;
    font-size: 38px;
    letter-spacing: 1px;
    color: #3A2817;
}

h5 {
    font-family: 'Comfortaa', sans-serif;
    font-size: 22px;
    letter-spacing: 1px;
}

h6 {
    font-family: 'Comfortaa', sans-serif;
    letter-spacing: 1px;
    font-size: 18px;
}

p {
    font-family: 'Comfortaa', sans-serif;
    letter-spacing: 1px;
    font-size: 14px;
}
/*end standardised*/

/*others*/
.light-brown-font {
    color: #B0824D;
}

.dark-brown-font {
    color: #3A2817;
}

.page-20-percent h1 {
    text-align: center;
}

.page-10-percent h1 {
    text-align: center;
}

.alignright {
    text-align: right;
}

.alignrightpadding {
    text-align: right;
    padding-right: 4%;
}

.aligncenter {
    text-align: center;
}

.actionbutton {
    padding: 12px 16px;
    font-family: 'Comfortaa', sans-serif;
    font-weight: 400;
    background-color: #CF5B26;
    color: #ECE9D5;
    border-radius: 8px;
    border: none;
}
/*end others*/

/*questions*/
.accordion {
    cursor: pointer;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    padding-bottom: 60px;
}

.accordion .accordion-item {
    padding: 42px 0;
    position: relative;
    background-color: transparent;
}

.accordion .accordion-item:after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: #3A2817;
}

/* .accordion-button:not(.collapsed) {
    border: none;
    border-color: transparent;
    background-color: transparent;
} */

.accordion-button:link,
.accordion-button:visited,
.accordion-button:hover,
.accordion-button:active,
.accordion-button:focus {
    background-color: transparent;
    text-decoration: none;
    border: none;
    border-color: transparent;
    box-shadow: none;
}

.accordion .accordion-button {
    color: #3A2817;
    padding: 20px 48px 0 0;;
    background-color: transparent;
}

.accordion-button::after {
    display: none;
}

.accordion-button.collapsed::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' height='36' viewBox='0 0 24 24' width='36' stroke='%233A2817'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M19 9l-7 7-7-7'/%3E%3C/svg%3E");
    position: absolute;
    right: 5px;
}

.accordion-button:not(.collapsed)::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' height='36' viewBox='0 0 24 24' width='36' stroke='%233A2817'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 15l7-7 7 7'/%3E%3C/svg%3E");
    position: absolute;
    right: 5px;
}

.accordion .accordion-body {
    color: #3A2817;
    padding: 20px 48px 0 0;
    border: none;
}

/*end questions*/

/*additional questions*/
.additionalQn {
    padding-bottom: 60px;
    color: #3A2817;
}

/*end additional questions*/

/*link/refs*/
.contact-link {
    text-decoration: underline;
    color: inherit;
}

.contact-link-no-underline {
    text-decoration: none;
    color: inherit;
}

/*end link/refs*/

/*tab*/
.tab {
    display: flex;
    justify-content: space-between;
}

.tab button {
    cursor: pointer;
    padding: 8px 15px;
    margin-top: 20px;
    font-family: 'Titan One';
    font-size: 22px;
    color: #3A2817;
    border: 2px solid #3A2817;
    box-shadow: 2px 2px 1px #B0824D;
    background-color: #ECE9D5;
    border-radius: 12px;
}

.tab button:hover {
    background-color: #EDA23F;
    box-shadow: 2px 2px 1px #3A2817;
}

.tab button.active {
    color: #EDA23F;
    background-color: #3A2817;
}

.tabcontent {
    display: block;
    height: 300px;
    padding-top: 60px;
}

.tabacct {
    display: flex;
    justify-content: space-between;
    padding-top: 42px;
}

.tabacct button {
    cursor: pointer;
    padding: 8px 15px;
    margin-top: 20px;
    font-family: 'Titan One';
    font-size: 20px;
    color: #3A2817;
    background-color: transparent;
    border-radius: 12px;
    border: none;
}

.tabacct button:hover {
    background-color: #EDA23F;
}

.tabacct button.active {
    color: #EDA23F;
    background-color: #3A2817;
    box-shadow: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.tabacctcontent {
    display: block;
    height: 300px;
}

/*end tab*/

/*table*/
table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden;
    color: #3A2817;
    font-family: 'Comfortaa', sans-serif;
    font-weight: 400;
    font-size: 16px;
    border-radius: 10px;
    border: 2px solid #3A2817;
    overflow-x: auto;
}

td {
    background-color: transparent;
    padding: 15px;
    text-align: left;
    border-top: 2px solid #3A2817;
}

th {
    padding: 15px;
    text-align: left;
    background-color: #EDA23F;
}

tr:first-child th:first-child {
    border-top-left-radius: 8px;
}

tr:first-child th:last-child {
    border-top-right-radius: 8px;
}

tr:last-child td:first-child {
    border-bottom-left-radius: 8px;
}

tr:last-child td:last-child {
    border-bottom-right-radius: 8px;
}

.borderitem {
    border-radius: 10px;
    border: 2px solid #3A2817;
    background-color: transparent;
    padding: 20px;
}

/*end table*/

/*cart styles*/

.p-36px {
    color: #3A2817;
    font-family: 'Comfortaa', sans-serif;
    font-weight: 400;
    font-size: 36px;
}

.p-24px {
    color: #3A2817;
    font-family: 'Comfortaa', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.p-12px {
    color: #3A2817;
    font-family: 'Comfortaa', sans-serif;
    font-weight: 400;
    font-size: 12px;
}

.p-12px-bottom {
    color: #3A2817;
    font-family: 'Comfortaa', sans-serif;
    font-weight: 400;
    font-size: 12px;
    display: inline;
    margin: 0;
}

.p-12px-center {
    color: #3A2817;
    font-family: 'Comfortaa', sans-serif;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    padding-top: 12px;
}

textarea {
    min-height: 150px;
    width: 100%;
    background-color: transparent;
    border-radius: 10px;
    border: 2px solid #3A2817;
    padding: 10px;
}

/*end cart styles*/

/*account*/
.accountcontainer {
    display: flex;
    align-items: center;
    justify-content: left;
}

.accountcontainer i {
    font-size: 20px;
    margin-right: 10px;
    color: #3A2817;
}

.accountcontainer h3 {
    font-family: 'Comfortaa', sans-serif;
    letter-spacing: 1px;
}

.accountcontainer h6,
.acctrect h5,
.acctrect h6,
.acctrect-left h5,
.acctrect-left h6{
    color: #3A2817;
    line-height: 30px;
}

.acctrect-left {
    background-color: #EDA23F;
    width: 100%;
    height: auto;
    padding: 20px;
    border-radius: 8px;
    border-top-left-radius: 0;
}

.acctrect {
    background-color: #EDA23F;
    width: 100%;
    height: auto;
    padding: 20px;
    border-radius: 8px;
}

.acctrect-right {
    background-color: #EDA23F;
    width: 100%;
    height: auto;
    padding: 20px;
    border-radius: 8px;
    border-top-right-radius: 0;
}

.acctrect-right .actionbutton {
    width: 100%;
    margin-bottom: 0;
    text-align: left;
}

.reedemable .actionbutton {
    padding: 8px 12px;
    font-size: 14px;
}

.reedemable h6
.unreedemable h6 {
    padding-top: 10px;
}

.unreedemable .actionbutton {
    padding: 8px 12px;
    font-size: 14px;
    color: #3A2817;
    border: 2px solid #3A2817;
    background-color: transparent;
}

.imgacct {
    width: 100%;
    padding: 5px 0;
}
/*end acct*/